@inherits CompositeC1WebPage

@{
    var stylesFolder = "/Frontend/Styles";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@CurrentPageNode.Title</title>

    <link href="@Href(stylesFolder)/homepage.css" rel="stylesheet" />
    <link href="@Href(stylesFolder)/header-footer.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/frontend/scripts/general.js"></script>

    @if (!string.IsNullOrEmpty(CurrentPageNode.Description))
    {
        <meta name="Description" content="@CurrentPageNode.Description"/>
    }
    <f:function xmlns:f="http://www.composite.net/ns/function/1.0" name="Composite.Web.Html.Template.CommonMetaTags">
		<f:param name="Designer" value="Composite C1 starter site" />
	</f:function>
</head>
<body>
    <div id="wrapper">
        <div id="top">
            @PageTemplateFeature("Header")
            <!--END HEADER-->
            <div class="header-shadow"></div>
        </div>
        <!--END TOP-->

        @RenderBody()

        <div id="footer">
            @PageTemplateFeature("Footer")
        </div>
        <!--END FOOTER-->
    </div>
    <!--END WRAPPER-->

</body>
</html>
